<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abendregen's Cult</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
        img.icon {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <img 
        src="{{ url_for('static', filename='img/animated_icon.gif') }}" 
        alt="Icone" 
        class="icon"
    >
            <li><a href="/">Inicio</a></li>
            <a href="https://discord.gg/maE9zJhw8q" target="_blank">Discord</a></li>
            <li><a href="/gogos">Gogos</a></li>
            <li><a href="/tools">Ferramentas</a></li>
            <a href="https://www.roblox.com/groups/34192598/Abendregens-Cult#!/about" target="_blank">Grupo</a></li>
            <li><a href="/videos">Videos</a></li>
            
        </ul>

        <ul class="right-elements">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/biblia">Biblia</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <nav>
        <ul</ul>
    </nav>
    <p>
        Site do Culto Abendregen™
    </p>

    <p class="intro">
        Gogos Abendregen™
    </p>

    <p class="desc">
        Nonha Freestyle, Five Nights at David's, Abendregen Fighter (Prototype)
        Futuramente ou Já Disponivel no Grupo Oficial do Culto.
    </p>


    

</body>
</html>
