<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abendregen's Cult</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
        img.icon {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <nav>
        <ul>
            <img 
        src="{{ url_for('static', filename='img/animated_icon.gif') }}" 
        alt="Icone" 
        class="icon"
    >
            <li><a href="/">Inicio</a></li>
            <a href="https://discord.gg/maE9zJhw8q" target="_blank">Discord</a></li>
            <li><a href="/gogos">Gogos</a></li>
            <li><a href="/tools">Ferramentas</a></li>
            <a href="https://www.roblox.com/groups/34192598/Abendregens-Cult#!/about" target="_blank">Grupo</a></li>
            <li><a href="/videos">Videos</a></li>
            
        </ul>

        <ul class="right-elements">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/biblia">Biblia</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <nav>
        <ul</ul>
    </nav>
    <p>
        Site do Culto Abendregen™
    </p>

    <p class="intro">
        Bem vindo, ao Abendregen™
    </p>
    
    <p class="desc">
        Um Culto para todos, livremente para um futuro próximo, e cheio de Objetivos e Derrota de Jaspe.
        Existe alguns requisitos antes da entrada de novos membros no Culto.
        Após os requisitos forem correspondidos será adicionado a "Lista do Culto" em que tem a lista de todos os membros do Abendregen™
        Será exigido um contrato de serviço até uma determinada data,
        Após essa data expirar será necessário pedir outro contrato se quiser continuar a frequentar o mesmo.

        Em Caso de alguma violação do nosso codigo de conduta esse membro será enviado para a inquisição como castigo.

    </p>
    <img class="serventiamode" src="{{ url_for('static', filename='img/serventiamode.png') }}" > 


    

</body>
</html>
