<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abendregen's Cult</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
        img.icon {
            width: 50px;
            height: 50px;
        }
    </style>
</head>
<body>
    <div class="container"></div>
        <h1>Conversor de YouTube</h1>
        <form method="POST">
            <label for="url">Insira o link do YouTube:</label>
            <input type="text" id="url" name="url" placeholder="Cole o link do YouTube aqui" required>
            <label for="type">Escolha o formato:</label>
            <select id="type" name="type">
                <option value="video">Vídeo</option>
                <option value="audio">Áudio</option>
            </select>
            <button type="submit">Converter</button>
        </form>
    <nav>
        <ul>
            <img 
        src="{{ url_for('static', filename='img/animated_icon.gif') }}" 
        alt="Icone" 
        class="icon"
    >
            <li><a href="/">Inicio</a></li>
            <a href="https://discord.gg/maE9zJhw8q" target="_blank">Discord</a></li>
            <li><a href="/gogos">Gogos</a></li>
            <li><a href="/tools">Ferramentas</a></li>
            <a href="https://www.roblox.com/groups/34192598/Abendregens-Cult#!/about" target="_blank">Grupo</a></li>
            <li><a href="/videos">Videos</a></li>
            
        </ul>

        <ul class="right-elements">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/biblia">Biblia</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <nav>
        <ul</ul>
    </nav>
    <p>
        Site do Culto Abendregen™
    </p>

    <p class="intro">
        Ferramentas
    </p>
    

    

</body>
</html>
