<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abendregen's Cult</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <style>
        img.icon {
            width: 50px;
            height: 50px;
        }
        

        iframe {
            max-width: 100%; /* Garante que o iframe não exceda a largura do container */
            border: 0; /* Remove bordas do iframe, se houver */
            max-width: 100%; /* Garante que o iframe não exceda a largura do container */
            justify-content: space-between;
    transform: none;
    justify-content: space-between;
}
    </style>
</head>
<body>

    
    <nav>
        <ul>
            <img 
        src="{{ url_for('static', filename='img/animated_icon.gif') }}" 
        alt="Icone" 
        class="icon"
    >
            <li><a href="/">Inicio</a></li>
            <a href="https://discord.gg/maE9zJhw8q" target="_blank">Discord</a></li>
            <li><a href="/gogos">Gogos</a></li>
            <li><a href="/tools">Ferramentas</a></li>
            <a href="https://www.roblox.com/groups/34192598/Abendregens-Cult#!/about" target="_blank">Grupo</a></li>
            <li><a href="/videos">Videos</a></li>
            
        </ul>

        <ul class="right-elements">
            <li><a href="/projetos">Projetos</a></li>
            <li><a href="/biblia">Biblia</a></li>
            <li><a href="/sobre">Sobre</a></li>
        </ul>
    </nav>

    <nav>
        <ul</ul>
    </nav>
    <p>
        Site do Culto Abendregen™
    </p>

    <p class="videos">
        Videos Abendregen™
    </p>

    <p class="viddesc">
    Arquivado por: Arquivo das Videos 1420-2025
    </p>

    <div class="container"></div>
        <iframe src="https://www.youtube.com/embed/Ek8oqvFvDkM?rel=0&cc_load_policy=1&iv_load_policy=3&hl=pt-pt&fs=0&color=white&controls=0&disablekb=1" width="560" height="315" title="Hino Abendregen 1452" style="padding: 5%;"   frameborder="0"></iframe>
        <iframe src="https://www.youtube.com/embed/https://youtube.com/playlist?list=PLfLpCUhFdZDhucrMBfpeTuOt4-T8FFM6W&si=RRPSFoEehjr-lJgT?vq=hd1080&loop=1&modestbranding=1&rel=0&cc_load_policy=1&iv_load_policy=3&hl=pt-pt&fs=0&color=white&controls=0&disablekb=1&playlist=https://youtube.com/playlist?list=PLfLpCUhFdZDhucrMBfpeTuOt4-T8FFM6W&si=RRPSFoEehjr-lJgT" width="560" height="315" title="A YouTube video" style="padding: 5%;" style="justify-content: center;" frameborder="0"></iframe>
    </div>

    
    


    

</body>
</html>
